<div id="login">
    <div class="wrapper">
        <div class="form padded">
            <div style="text-align: center">
                <img src="assets/icons/logo.png" width="150">
            </div>
            <p><strong>Sign In to your account</strong></p>
            <br>
            <md-radio-group ng-model="authAs">
                <md-radio-button class="md-primary"
                                 ng-value="consts.admins.value"
                                 aria-label="{{consts.admins.infoText}}">
                    {{consts.admins.infoText}}
                </md-radio-button>
                <md-radio-button class="md-primary"
                                 ng-value="consts.users.value"
                                 aria-label="{{consts.users.infoText}}">
                    {{consts.users.infoText}}
                </md-radio-button>
            </md-radio-group>
            <br>
            <form name="loginform" ng-submit="login($event)">
                <md-input-container class="md-block md-primary">
                    <label>Email</label>
                    <input type="email" name="user" ng-model="email" required="required" autofocus>
                </md-input-container>
                <md-input-container class="md-block md-primary">
                    <label>Password</label>
                    <input class="padding-button" name="pass" type="password" ng-model="password" required="required">
                </md-input-container>
                <button class="md-button md-small md-ink-ripple md-raised md-primary"
                        type="submit">
                    Sign In
                </button>
                <br>
                <hr class="hr-text" data-content="OR">
                <div>
                    <img src="assets/icons/facebook.svg" style="padding-left: 15px; cursor: pointer" ng-click="socialLogin('f')">
                    <img src="assets/icons/google.svg" style="padding-left: 10px; cursor: pointer" ng-click="socialLogin('g')">
                </div>
                <br>
                <span>
                    Do not have account? <a ui-sref="register" style="color: orange">Sign Up </a>as a user
                </span>
            </form>
        </div>
    </div>
</div>
