<div id="login">
    <div class="wrapper">
        <div class="form padded">
            <p><strong>Please enter some fields to go next</strong></p>
            <br>
            <form name="registerForm" ng-submit="register($event)">

                <div style="text-align: center">
                    <img src="{{photoUrl}}" style="width: 80px; height: 80px; border-radius: 50%">
                </div>

                <md-input-container class="md-block md-primary">
                    <label>Email</label>
                    <input class="padding-button" name="email" type="email" ng-model="registerData.email" required="required" disabled>
                </md-input-container>

                <md-input-container class="md-block md-primary">
                    <label>First Name</label>
                    <input name="firstName" type="text" ng-model="registerData.firstName" required="required" disabled>
                </md-input-container>

                <md-input-container class="md-block md-primary">
                    <label>Surname</label>
                    <input name="surName" type="text" ng-model="registerData.surname" required="required" disabled>
                </md-input-container>

                <br>

                <md-input-container class="md-block md-primary">
                    <label>Middle name</label>
                    <input class="padding-button" name="middleName" type="text" ng-model="registerData.middleName" required="required" autofocus>
                </md-input-container>

                <md-input-container class="md-block md-primary">
                    <label>Phone Number</label>
                    <input class="padding-button" name="phoneNumber" type="text" ng-model="registerData.phoneNumber" required="required">
                </md-input-container>

                <br>

                <md-input-container class="md-block md-primary">
                    <label>Photo Url</label>
                    <input class="padding-button" name="photoUrl" type="text" ng-model="registerData.photoUrl" required="required" disabled>
                </md-input-container>

                <hr class="hr-text" data-content="OR">

                <md-input-container>
                    <input class="md-button md-raised md-primary" type="file" name="file" id="file" accept="image/*" ng-model="postFile" aria-label="file">
                </md-input-container>
                <md-progress-circular ng-show="upload" class="md-primary" md-diameter="40"></md-progress-circular>

                <button class="md-button md-small md-ink-ripple md-raised md-primary"
                        type="submit">
                    Next
                </button>
                <button class="md-button md-small md-ink-ripple md-raised md-warn"
                        type="button" ng-click="goTo('auth')">
                    Go Back
                </button>
                <br>
            </form>
        </div>
    </div>
    <div>
        <img src="assets/icons/logo.png" id="logo">
    </div>
</div>