<md-toolbar class="md-primary top-nav-shadow">
    <div class="md-toolbar-tools navigation-nav-top">
        <img ng-src="assets/icons/logo.png" class="md-avatar" alt="user" style="width: 48px; border-radius: 50%"/>
        <span style="margin-left: 15px">Tracking</span>
        <md-button class="md-icon-button" aria-label="Settings" hide-gt-md ng-click="toggleLeft()">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </md-button>
        <div style="margin-left: auto">
            <div class="profile-nav-item">
                <div class="info-user-nav" layout="row" layout-align="space-between center">
                <span class="logo-user">
                    <img ng-src="{{User.photoUrl}}" style="border-radius: 50%">
                </span>
                </div>
                <div class="profile-menu-list">
                    <md-content>
                        <md-list layout="column" layout-align="space-between center">
                            <md-list-item ng-click="goTo('app.profile')">
                                <md-icon md-svg-icon="assets/icons/settings.svg"></md-icon>
                                <span style="margin-left: 10px">Profile</span>
                            </md-list-item>
                            <md-list-item ng-click="logout()">
                                <md-icon md-svg-icon="assets/icons/log-out.svg"></md-icon>
                                <span style="margin-left: 10px">Log-out</span>
                            </md-list-item>
                        </md-list>
                    </md-content>
                </div>
            </div>
        </div>
    </div>
</md-toolbar>
<div layout="column" ng-cloak>
    <section layout="row" flex>
        <ui-view name="nav"></ui-view>
        <div ui-view="content" style="background-color: gainsboro; min-height: calc(100vh - 64px);" flex></div>
    </section>
</div>
