<md-content layout-padding style="padding: 0px">
    <md-button class="md-primary" hide-gt-md>
        Close menu
    </md-button>
    <md-list flex style="padding: 0">
        <md-list-item class="md-1-line left-nav-list" ui-sref="app.admin-tracking">
            <p>
                Track
            </p>
        </md-list-item>
        <md-list-item class="md-1-line left-nav-list" ui-sref="app.admin-deliveries">
            <p>
                All deliveries
            </p>
        </md-list-item>
        <md-list-item class="md-1-line left-nav-list" ui-sref="app.admin-drivers">
            <p>
                All driver
            </p>
        </md-list-item>
        <md-list-item class="md-1-line left-nav-list" ui-sref="app.admin-users">
            <p>
                All users
            </p>
        </md-list-item>
        <md-list-item class="md-1-line left-nav-list" ui-sref="app.admin-admins">
            <p>
                Add admin
            </p>
        </md-list-item>
    </md-list>
</md-content>