<md-content layout-padding style="padding: 0px; background-color: black">
    <md-button class="md-primary" hide-gt-md>
        Close menu
    </md-button>
    <md-list flex style="padding: 0">
        <md-list-item class="md-1-line left-nav-list" ui-sref="app.user-tracking">
            <p style="color: white">
                Track
            </p>
        </md-list-item>
        <md-list-item class="md-1-line left-nav-list" ui-sref="app.user-deliveries">
            <p style="color: white">
                My deliveries
            </p>
        </md-list-item>
    </md-list>
</md-content>