<md-toolbar class="md-theme-indigo menuboxShadow" style="background-color: #fafafa !important; color: #757575;">
    <h1 class="md-toolbar-tools">My blog</h1>
</md-toolbar>

<md-content layout-padding style="padding: 0px">
    <md-button class="md-primary" hide-gt-md>
        Close menu
    </md-button>
    <md-list flex style="padding: 0">
        <md-list-item class="md-1-line left-nav-list" ui-sref="app.home">
            <p>
                My friends posts
            </p>
        </md-list-item>
        <md-list-item class="md-1-line left-nav-list" ui-sref="app.my">
            <p>
                My posts
            </p>
        </md-list-item>
        <md-list-item class="md-1-line left-nav-list" ui-sref="app.create">
            <p>
                Create post
            </p>
        </md-list-item>
    </md-list>
</md-content>