<div id="login">
    <div class="wrapper">
        <div class="form padded">
            <p><strong>Register as User</strong></p>
            <br>
            <form name="registerForm" ng-submit="login($event)">

                <md-input-container class="md-block md-primary">
                    <label>First Name</label>
                    <input type="email" name="firstName" type="text" ng-model="registerData.firstName" required="required" autofocus>
                </md-input-container>

                <md-input-container class="md-block md-primary">
                    <label>Surname</label>
                    <input type="email" name="surName" type="text" ng-model="registerData.surname" required="required">
                </md-input-container>

                <md-input-container class="md-block md-primary">
                    <label>Middle name</label>
                    <input class="padding-button" name="middleName" type="text" ng-model="registerData.middleName" required="required">
                </md-input-container>

                <md-input-container class="md-block md-primary">
                    <label>Email</label>
                    <input class="padding-button" name="pass" type="email" ng-model="registerData.email" required="required">
                </md-input-container>


                <md-input-container class="md-block md-primary">
                    <label>Phone Number</label>
                    <input class="padding-button" name="pass" type="text" ng-model="registerData.phoneNumber" required="required">
                </md-input-container>

                <md-input-container class="md-block md-primary">
                    <label>Photo Url</label>
                    <input class="padding-button" name="pass" type="text" ng-model="registerData.photoUrl" required="required">
                </md-input-container>
                <span>Or you can upload photo</span>
                <md-input-container>
                    <input class="md-button md-raised md-primary" type="file" id="file" accept="image/*" ng-model="postFile" aria-label="file">
                </md-input-container>
                <md-progress-circular ng-show="upload" class="md-accent" md-diameter="40"></md-progress-circular>

                <br>

                <md-input-container class="md-block md-primary">
                    <label>Password</label>
                    <input class="padding-button" name="pass" type="password" ng-model="authData.password" required="required">
                </md-input-container>

                <md-input-container class="md-block md-primary">
                    <label>Confirm Password</label>
                    <input class="padding-button" name="pass" type="password" ng-model="authData.confirmPassword" required="required">
                </md-input-container>

                <button class="md-button md-small md-ink-ripple md-raised md-primary"
                        type="submit">
                    Register
                </button>
                <br>
            </form>
        </div>
    </div>
</div>